<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kingda's blog</title>

    <!-- Bootstrap -->
     <link href="/stylesheets/404.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="_404_content">
     </div>
     <div class="_404_content_title">
      <h1><span>404</span>“This is not the web page you are looking for”</h1>
     </div>
     <div class="_404_content_black_bar">
     </div>
     <a class="return_home" href="#">HOME</a>
    </div>
     

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript">

    $(function  () {

 $('._404_content').hide();
$('._404_content_title').hide();
 $('._404_content').fadeIn("slow","linear",function(){
  $('._404_content_title').slideDown("slow");
  $(document).bind("hover",function(){

    $("._404_content_black_bar").fadeOut();
  });
  $(document).trigger("hover");
        });
      $('._404_content').hover(function(){

      $('.return_home').fadeIn("slow");
      });


    }
     
      );

  </script>
  </body>
</html>