<%- include kingda_header %>
<div class="kingda_content container theme-showcase">

 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <img  alt="First slide" src="/images/slide1.jpg" />
          </div>
          <div class="item active">
             <img  alt="Second slide" src="/images/slide2.jpg" />
          </div>
          <div class="item">
            <img  alt="Third slide" src="/images/slide3.jpg" />
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="jumbotron">
  <h1>Thanks your coming</h1>
  <p>本网站用于个人信息的发布，希望大家能够从本网站中学习到东西啦~</p>
  <p><a class="btn btn-success btn-lg" role="button" href="/articles">Look more</a></p>
     </div>

</div><!-- end kingda_content -->

<%- include kingda_footer %>
